<div [class]="{
  status: true,
  'status-online' : currentStatus() === 'online',
  'status-offline' : currentStatus() === 'offline',
  'status-unknown' : currentStatus() === 'unknown',
  


}">
  @if (currentStatus() === 'online'){
<p>Servers are online</p>
<p>All system are opreational.</p>

  }@else if(currentStatus() === 'offline'){
    <p>Servers are offline</p>
    <p>Funstionality should be restored soon.</p>
  }@else{
    <p>Servers is unknown</p>
<p>Fetchind server status failed.</p>
  }
  </div>